$container-max-width: 1800px;
$right-column-width: 20%;
$content-padding: 0 50px;

.page, .sidebar {
  @include box-sizing(border-box);
}

.wrap {
  width: 100%;
  max-width: $container-max-width;
  margin: 20px auto;
  position: relative;
}

.wrap:before, .wrap:after {
  content: '';
  display: table;
}

.wrap:after {
  clear: both;
}

.page, .page:before {
  width: (100 - $right-column-width) / 2;
}

.page {
  float: left;
  padding: $content-padding;
}

.page:before {
  left: 0px;
}

.page:first-child + .page:before {
  left: (100 - $right-column-width) / 2;
}

.sidebar {
  float: left;
  padding: $content-padding;
}

.sidebar:before {
  left: 100 - $right-column-width;
}

.sidebar, .sidebar:before {
  width: $right-column-width;
}

.page:before, .sidebar:before {
  content: '';
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
}

@media only screen {}

@media only screen and (max-width: 20em) {}

@media only screen and (min-width: 20.063em) and (max-width: 60em) {}

@media only screen and (min-width: 60.063em) and (max-width: 110em) {}

@media only screen and (min-width: 111em) {}